# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env
.env.local

# Node
node_modules/

# Build files
dist/
build/